.card-form {
  background-color: var(--background-darken-semitransparent-color);
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 30px;
  margin: 20px;
  border-radius: 30px;
  width: 30%;
  min-width: 384px;
  height: fit-content;
}
