.message{
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 16px;
}

.message_mine{
    align-self: flex-end;
    background-color: var(--primary-color);
}

.message_others{
    align-self: flex-start;
    background-color: var(--background-darken-semitransparent-color);
}

.message__text{
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    padding: 16px 16px 0;
}

.message__time{
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    color: var(--additional-text-color);
    align-self: flex-end;
    padding: 0 16px 6px 0;
}